/* 整个网页 */

body {
  border: 10px solid #999999;
  width: auto;
  margin: auto;
  min-width: 370px;
}

/* 自定义头部 */

header {
  background-color: pink;
  height: auto;
  text-align: center;
  line-height: auto;
}

header h1{
  border-bottom: solid #999999 2px;
  background-image: url(bg.png);
  background-size: cover;
  display: block;
  margin: 0px;
  height: 100px;
  font-size: 40px;
  top: 50%;
}

header div{
  height: 10px;
  background-color: pink;
}

/* 自定义网页主体 */

section {
  background-color: pink;
}

section>h1{
  margin-top: 0px;
}

/* 自定义网页底部 */

footer div{
  border-bottom: solid #999999 2px;
  margin-bottom: 0px;
  height: 10px;
  background-color: pink;
}
footer {
  background-color: #ffd7eb;
}
footer p{
  margin: 0px;
}

/* 自定义颜色 */

.schoolcolor {
  color: #ee0b22;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}

.lowred {
  color: rgba(255, 0, 0, 0.5);
  font: bold;
}

/* 去掉文字下划线 */

.nonedecoration {
  text-decoration: none;
}

/* 自定义超链接 */

.a {
  a:link {
    text-decoration: none;
    color: blue;
  }

  a:visited {
    color: blue;
  }

  a:hover {
    text-decoration: underline;
    color: blue;
  }

  a:active {
    color: red;
  }
}

.aboy {
  a:link {
    text-decoration: none;
    color: blue;
  }

  a:visited {
    color: blue;
  }

  a:hover {
    text-decoration: underline;
    color: blue;
  }

  a:active {
    color: red;
  }
}

.agirl {
  a:link {
    text-decoration: none;
    color: red;
  }

  a:visited {
    color: red;
  }

  a:hover {
    text-decoration: underline;
    color: red;
  }

  a:active {
    color: blue;
  }
}

/* 男女边框 */

.boy {
  border: 10px solid lightblue;
}

.girl {
  border: 10px solid plum;
}

/* 表格边框 */

.table {
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  max-width: 100px;
}
.table-container {
  position: relative;
  width: 100%;
  height: auto; 
}

/* 列表 */

dl {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* 返回顶部按钮 */

#backToTop {
  position: fixed; /* 使用绝对定位 */
  bottom: 80px; /* 距离底部20像素 */
  right: 20px; /* 距离右侧20像素 */
  display: block; /* 使链接以块级元素显示 */
  padding: 10px; /* 内边距 */
  background-color: #f0f0f0; /* 背景颜色 */
  color: #333; /* 文本颜色 */
  text-decoration: none; /* 去除下划线 */
  border-radius: 5px; /* 边框圆角 */
  border: none;
  display: none;
}

#backToTop:hover {
  /* 鼠标悬停时的边框样式 */
  border: 2px solid black; /* 蓝色边框 */
  cursor: pointer;
}

/* 返回按钮 */

#back {
  position: fixed;
  /* 使用绝对定位 */
  bottom: 20px;
  /* 距离底部20像素 */
  right: 20px;
  /* 距离右侧20像素 */
  display: block;
  /* 使链接以块级元素显示 */
  padding: 10px;
  /* 内边距 */
  background-color: #f0f0f0;
  /* 背景颜色 */
  color: #333;
  /* 文本颜色 */
  text-decoration: none;
  /* 去除下划线 */
  border-radius: 5px;
  /* 边框圆角 */
  border: none;
}

#back:hover {
  /* 鼠标悬停时的边框样式 */
  border: 2px solid black; /* 蓝色边框 */
  cursor: pointer;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 0.6em solid transparent; /* 使用em单位，与字体大小相关 */
  border-right: 0.6em solid transparent;
  border-bottom: 0.9em solid black; /* 可以通过调整这些值来微调箭头的大小 */
  display: inline-block; /* 使箭头可以在文本行中显示 */
  vertical-align: middle; /* 垂直居中箭头 */
}

/* 关于我们团队按钮 */

#myteam {
  position: fixed; /* 使用绝对定位 */
  bottom: 20px; /* 距离底部20像素 */
  right: 20px; /* 距离右侧20像素 */
  display: block; /* 使链接以块级元素显示 */
  padding: 10px; /* 内边距 */
  background-color: #f0f0f0; /* 背景颜色 */
  color: #333; /* 文本颜色 */
  text-decoration: none; /* 去除下划线 */
  border-radius: 5px; /* 边框圆角 */
  border: none;
}

#myteam:hover {
  /* 鼠标悬停时的边框样式 */
  border: 2px solid black; /* 蓝色边框 */
  cursor: pointer;
}

/* 加载动画 */

.fade-in {
  opacity: 0; /* 初始时元素是透明的 */
  animation: fadeInAnimation 2s forwards; /* 应用动画，持续时间2秒，完成后保持最后一帧的状态 */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; /* 动画开始时，元素是透明的 */
  }
  to {
    opacity: 1; /* 动画结束时，元素完全不透明 */
  }
}

/* 自定义字体 */

@font-face {
  font-family: 'ChildFunSansDemo';
  src: url('ChildFunSans-Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font {
  font-family: 'ChildFunSansDemo', sans-serif;
}
/* 鼠标在按钮的效果 */

button:hover {
  cursor: pointer;
}

/* 自定义边框 */

.box {
  background-color: #999999;
  font-weight: bold;
  border-radius: 30px;
  width: auto;
  max-width: 600px;
}

/* 自定义ul列表 */

ul {
  margin: 0px;
}

/* 自定义图片 */

img {
  max-width: 300px;
  max-height: 400px;
  /* overflow: hidden; */
}

/* 容器 */

.container {
  min-height: 100%;
  position: relative;
  /* padding-bottom: 50px; */
}

/* 限制iframe元素大小 */

iframe {
  max-width: 100%;
  border: none;
}

html {
  scroll-behavior: smooth;
}
